@model Bookstore

<div class="list-group ">
    <div class="bg-faded p-1">
        <ul>
            <li class="list-group-item">
                <h5>Book Title: @Model.Title</h5>
                <p> Author Name: @Model.AuthorFname @Model.AuthorLname</p>
                <p>Publisher: @Model.Publisher </p>
                <p>ISBN: @Model.ISBN </p>
                <p>Classification: @Model.Classification </p>
                <p>Category: @Model.Category</p>

                <p>Page Numbers: @Model.PageNumber</p>
                <span class="badge badge-pill badge-primary">
                    <p>Price: $@Model.Price </p>
                </span>

            </li>

        </ul>
    </div>

    <form id="@Model.BookID" asp-page="/Buy" method="post">
        <input type="hidden" asp-for="BookID"/>
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
        <span class="card-text p1">
            @Model.Title
            <button type="submit" class="btn-success btn-sm pull-right" style="float:inherit">
                Buy
            </button>
        </span>
    </form>

</div>

